<html>
    <body>
        <div>
            <form>
            <button type=submit formmethod="GET" formaction="/play">Play</button>
            <button type=submit formmethod="GET" formaction="/stop">Pause</button>
            <button type=submit formmethod="GET" formaction="/next">Next</button>
            <button type=submit formmethod="GET" formaction="/prev">Prev</button>
            <br>
            <button type=submit formmethod="GET" formaction="/login">Login</button>
            <button type=submit formmethod="GET" formaction="/devices">Devices</button>
        </form>
        </div>
    </body>
</html>